<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">Companies list</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Car Company Name</th>
                            <th>Price</th>
                            <th>Fuel Type</th>
                            <th>Transmission</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="company, index in companies">
                            <td><input type="checkbox" :value='company' :id='company. Id' v-model="selected"></td>
                            <td>{{ company.name }}</td>
                            <td>{{ company.price }}</td>
                            <td>{{ company.fuel_type }}</td>
                            <td>{{ company.transmission }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td v-for="company, index in selected">
                        {{ company.name }}
                    </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td v-for="company, index in selected">
                        {{ company.price }}
                    </td>
                </tr>
                <tr>
                    <th>Fuel Type</th>
                    <td v-for="company, index in selected">
                        {{ company.fuel_type }}
                    </td>
                </tr>
                <tr>
                    <th>Transmission</th>
                    <td v-for="company, index in selected">
                        {{ company.transmission }}
                    </td>
                </tr>
                <tr>
                    <th>Gears</th>
                    <td v-for="company, index in selected">
                        {{ company.gears }}
                    </td>
                </tr>
                <tr>
                    <th>Power Steering</th>
                    <td v-for="company, index in selected">
                        {{ company.power_steering }}
                    </td>
                </tr>
                <tr>
                    <th>Power Windows</th>
                    <td v-for="company, index in selected">
                        {{ company.power_windows }}
                    </td>
                </tr>
                <tr>
                    <th>Climate Control</th>
                    <td v-for="company, index in selected">
                        {{ company.climate_control }}
                    </td>
                </tr>
                <tr>
                    <th>Air Conditioner</th>
                    <td v-for="company, index in selected">
                        {{ company.air_conditioner }}
                    </td>
                </tr>
                <tr>
                    <th>Fuel Capacity</th>
                    <td v-for="company, index in selected">
                        {{ company.fuel_capacity }}
                    </td>
                </tr>
                <tr>
                    <th>Seating Capacity</th>
                    <td v-for="company, index in selected">
                        {{ company.seating_capacity }}
                    </td>
                </tr>
                <tr>
                    <th>Airbag</th>
                    <td v-for="company, index in selected">
                        {{ company.airbag }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                companies: [],
                selected: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/companies')
                .then(function(resp) {
                    app.companies = resp.data;
                })
                .catch(function(resp) {
                    console.log(resp);
                    alert("Could not load companies");
                });
        },
    }
</script>