<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default">Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Edit company</div>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Company name</label>
                            <input type="text" v-model="company.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Car Price</label>
                            <input type="text" v-model="company.price" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Fuel Type (Diesel / Petrol)</label>
                            <input type="text" v-model="company.fuel_type" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Transmission (Automatic / Manual)</label>
                            <input type="text" v-model="company.transmission" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Gears (5 or 6)</label>
                            <input type="text" v-model="company.gears" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Fuel Capacity (35 or 40)</label>
                            <input type="text" v-model="company.fuel_capacity" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Seating Capacity (4 or 6)</label>
                            <input type="text" v-model="company.seating_capacity" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Power Steering (Yes / No)</label>
                            <input type="text" v-model="company.power_steering" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Power Windows (Yes / No)</label>
                            <input type="text" v-model="company.power_windows" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Climate Control (Yes / No)</label>
                            <input type="text" v-model="company.climate_control" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Air Conditioner (Yes / No)</label>
                            <input type="text" v-model="company.air_conditioner" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Airbag (Yes / No)</label>
                            <input type="text" v-model="company.airbag" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button class="btn btn-success">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.companyId = id;
            axios.get('/api/v1/companies/' + id)
                .then(function(resp) {
                    app.company = resp.data;
                })
                .catch(function() {
                    alert("Could not load your company")
                });
        },
        data: function() {
            return {
                companyId: null,
                company: {
                    name: '',
                    address: '',
                    website: '',
                    email: '',
                }
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newCompany = app.company;
                axios.patch('/api/v1/companies/' + app.companyId, newCompany)
                    .then(function(resp) {
                        app.$router.replace('/');
                    })
                    .catch(function(resp) {
                        console.log(resp);
                        alert("Could not create your company");
                    });
            }
        }
    }
</script>